body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title {
    font-size: 48px;
    color: #333;
    margin: 0;
    text-shadow: 2px 2px #ff6347;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}
